<nav class="navbar navbar-dark bg-dark"><!-- navbar adiciona uma barra no topo -->
    <!-- bg = plano de fundo da navbar -->
    <a class="navbar-brand" href="/"> <!-- navbar-brand vai alinhar a imagem a esquerda -->
    <img src="/img/guia.png">
    </a>
</nav> 